<aside class="left-side sidebar-offcanvas admin-sidebar-aside admin-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel" style="margin: 5px 0px">
            <div class="pull-left image">
                <img src="./assets/common/img/dummy.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{username}}</p>
                <a routerLink='/logout'><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="" style="padding-bottom: 3px; border-top: 1px solid #595959 !important;">
                <a href="javascript:void(0);" id="treeview-search">
                    <i class="fa fa-search"></i> <span>Search</span> 
                    <i class="fa fa-angle-left pull-right" style="display: none;"></i> 
                    <i class="fa fa-angle-down pull-right"></i>
                </a>
                <div id="admin-sidebar-search-details">
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form admin-sidebar-form-custom form-horizontal" (submit)="search()">
                        <div class="input-group col-xs-12" style="margin-bottom: 5px">
                            <select name="searchKey" class="form-control admin-sidebar-search-input" [(ngModel)]="searchKey">
                                <option value="First Name">First Name</option>
                                <option value="Last Name">Last Name</option>
                                <option value="Phone">Phone Number</option>
                                <option value="Email">Email Address</option>
                                <option value="IP Address">IP Address</option>
                                <option value="Date Made">Date Made</option>
                                <option value="Note">Note</option>
                                <option value="id">Reservation ID</option>
                                <option value="time_id">Reservation Number</option>
                            </select>
                        </div>
                        <div class="input-group col-xs-12" style="margin: 10px 0px; display:inline-flex">
                            <input type="checkbox" name="caseSensitive" id="caseSensitive" class="admin-sidebar-search-input" [(ngModel)]="caseSensitive">
                            <label for="caseSensitive" style="margin-left: 5px; margin-top: 2px;">Case Sensitive</label>
                        </div>
                        <div class="input-group">
                            <input type="text" name="searchVal" class="form-control admin-sidebar-search-input" placeholder="Search..." [(ngModel)]="searchVal">
                            <span class="input-group-btn">
                                <button type="submit" name="seach" id="search-btn" class="btn btn-flat admin-sidebar-search-btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </li>

        
            <li class="sidebar-menu-li" style="border-top: 1px solid #595959 !important;">
                <a routerLink='/admin/main' routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-dashboard"></i> <span>Main</span>
                </a>
            </li>
            <li class="sidebar-menu-li">
                <a routerLink='/admin/schedules' routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-calendar-o"></i> <span>Schedules</span>
                </a>
            </li>
<!--            <li class="sidebar-menu-li">
                <a routerLink="/admin/stops" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-bus"></i> <span>Stops</span>
                </a>
            </li>
            <li class="sidebar-menu-li">
                <a routerLink="/admin/rates" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-ticket"></i> <span>Rates</span>
                </a>
            </li>
            <li class="sidebar-menu-li">
                <a routerLink="/admin/areas" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-crop"></i> <span>Areas</span>
                </a>
            </li>-->
            <li class="sidebar-menu-li">
                <a routerLink="/admin/users" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-user"></i> <span>Users</span>
                </a>
            </li>
            <li class="sidebar-menu-li">
                <a routerLink="/admin/customers" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-group"></i> <span>Customers</span>
                </a>
            </li>
<!--            <li class="sidebar-menu-li">
                <a routerLink="/admin/pages" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-image"></i> <span>Pages</span>
                </a>
            </li>
            <li class="">
                <a href="javascript:void(0);" id="treeview-coupons">
                    <i class="fa fa-tags"></i> <span>Coupons</span> <i class="fa fa-angle-left pull-right"></i> <i class="fa fa-angle-down pull-right" style="display: none;"></i>
                </a>
                <div id="admin-sidebar-coupons-details" style="display: none;">
                    <ul id="admin-sidebar-coupons-details-ul">
                        <li>
                            <a routerLink="/admin/coupons" routerLinkActive="admin-sidebar-router-active">
                                <i class="fa fa-tags"></i> <span>Coupons</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/coupons-campaigns" routerLinkActive="admin-sidebar-router-active">
                                <i class="fa fa-tags"></i> <span>Campaigns</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/coupons-companies" routerLinkActive="admin-sidebar-router-active">
                                <i class="fa fa-tags"></i> <span>Companies</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/coupons-types" routerLinkActive="admin-sidebar-router-active">
                                <i class="fa fa-tags"></i> <span>Types</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>-->
            <li class="admin-sidebar-settings-li sidebar-menu-li">
                <a routerLink="/admin/settings" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-cog"></i> <span>Settings</span>
                </a>
            </li>
            <li class="sidebar-menu-li">
                <a routerLink="/admin/reports" routerLinkActive="admin-sidebar-router-active">
                    <i class="fa fa-line-chart"></i> <span>Reports</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
