<div class="text-center header-div">
    <label (click)="onClickRegularMode()">
        <img class="img-responsive" src="./assets/common/img/reg_mode_r.gif" width="192" height="45" alt="Regular Mode">
    </label>
    
    <label style="vertical-align: top;">
        <img class="img-responsive" src="./assets/common/img/bus_edit_mode_b.gif" width="192" height="59" alt="Bus Prices Mode">
    </label>
    
    <label style="vertical-align: top;" (click)="onClickMovePeopleMode()">
        <img class="img-responsive" src="./assets/common/img/move_people_mode_r.gif" width="192" height="45" alt="Move People Mode">
    </label>
</div>

<div class="row row-content" >
    <div class="col-sm-6" style="text-align: center;">
        <h3>Leaving from {{ headerLeave.city }} on </h3>
        <p>{{ headerLeave.date}} at:</p>
    </div>
    <div class="col-sm-6" style="text-align: center;">
        <h3>Returning from {{ headerReturn.city }} on </h3>
        <p>{{ headerReturn.date }} at: </p>
    </div>
</div>