
<section class="content-header admin-settings-content-header-custom">
    <h1>
        <i class="fa fa-cog"></i> Settings
    </h1>
    <ol class="breadcrumb admin-settings-breadcrumb-custom">
        <li><a routerLink="/admin/main"><i class="fa fa-dashboard"></i> Main</a></li>
        <li class="active">Settings</li>
    </ol>
</section>

<section class="panel admin-main-panel admin-settings-main-panel-custom">
    <header class="panel-heading">
        <h3 class="box-title">
            <span class="fa fa-pencil-square"></span> Settings
<!--            <a href="http://tripperbus.infinixsoft.com/admin/users/create?role=1" class="btn btn-xs btn-primary pull-right"><span class="fa fa-plus"></span> Settings</a>-->
        </h3>
    </header>
    <div class="panel-body">
        <div class="col-xs-12">
            <h1><span class="icon-settings"></span> Site Settings</h1>
            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Company Name:</label>
                        <input type="text" name="company_name" class="form-control" [(ngModel)]="settings['Company Name']">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Company Email:</label>
                        <input type="text" name="company_email" class="form-control" [(ngModel)]="settings['Company Email']">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Email From:</label>
                        <input type="text" name="email_from" class="form-control" [(ngModel)]="settings['Email From']">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Reservation Footer:</label>
                        <textarea name="reservation_footer" class="form-control" rows="20" [(ngModel)]="settings['Reservation Footer']"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Email Footer:</label>
                        <textarea name="email_footers" class="form-control" rows="20" [(ngModel)]="settings['Email Footer']"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Allowed Advance Days:</label>
                        <div class="text-info">Number of days in advance you allow customers to reserve</div>
                        <input type="text" name="advance_reserve" class="form-control" size="3" maxlength="3" [(ngModel)]="settings['Allowed Advance Days']">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Maximum Reserve:</label>
                        <div class="text-info">Maximum seats customers may reserve per each reservation</div>
                        <input type="text" name="max_reserve" class="form-control" size="2" maxlength="2" [(ngModel)]="settings['Maximum Reserve']">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Default Maximum Capacity:</label>
                        <div class="text-info">When adding new buses, this will be the changeable default</div>
                        <input type="text" name="default_max_cap" class="form-control" size="3" maxlength="3" [(ngModel)]="settings['Default Maximum Capacity']">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Customer Reservation Deadline:</label>
                        <div class="text-info">Minutes before a schedule time customers can no longer reserve</div>
                        <input type="text" name="reserve_deadline" class="form-control" size="3" maxlength="3" [(ngModel)]="settings['Customer Reservation Deadline']">
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Email customer notes to admin email:</label>
                        <div class="text-info">If selected, notes customers write when they reserve are emailed to admin's email</div>
                        <select name="email_notes_ta" size="1" [(ngModel)]="settings['Email customer notes to admin email']">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>    

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Marquee Scroll:</label>
                        <div class="text-info">The text on top of every page upper right sight that scrolls - (Limit: 500 characters)</div>
                        <textarea name="marquee" class="form-control" rows="20" [(ngModel)]="settings['Marquee Scroll']"></textarea>
                    </div>
                </div>
            </div>      

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Special Announcement:</label>
                        <div class="text-info">If this is not empty, it will apear on home page  &amp; first reservation page as special announcement in a red box</div>
                        <textarea name="special_announcement" class="form-control" rows="20" [(ngModel)]="settings['Special Announcement']"></textarea>
                    </div>
                </div>
            </div>      

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Reservation Fee:</label>
                        <div class="text-info">This is the reservation fee per seat when booking the reservation initially, both through the website or admin</div>
                        <input type="text" name="reservation_initial_fee" class="form-control" size="8" maxlength="5" [(ngModel)]="settings['Reservation Fee']">
                    </div>
                </div>
            </div>   

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Reservation Fee - (Rescheduling):</label>
                        <div class="text-info">This is the reservation fee per whole group when modifying existing reservations both through the website or admin</div>
                        <input type="text" name="reservation_reschedule_fee" class="form-control" size="8" maxlength="5" [(ngModel)]="settings['Reservation Fee - (Rescheduling)']">
                    </div>
                </div>
            </div>  

            <h3>Messages</h3>
            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Important Message:</label>
                        <div class="text-info">If this is not empty, it will apear on all reservation pages as special announcement in red lettering</div>
                        <textarea name="important_message" class="form-control" rows="20" [(ngModel)]="settings['Important Message']"></textarea>
                    </div>
                </div>
            </div>  

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Error Message:</label>
                        <div class="text-info">If this is not empty, it will apear on all reservation pages as error message in red lettering when something maybe goes wrong. </div>
                        <textarea name="error_message" class="form-control" rows="20" [(ngModel)]="settings['Error Message']"></textarea>
                    </div>
                </div>
            </div> 

            <!-- h3>Payment Gateway</h3>

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Payment Gateway (Production):</label>
                        <div class="text-info">URL pointing to third party payment gateway service when transactions are meant to be real</div>
                        <textarea name="payment_auth_net_url" class="form-control" rows="2">https://secure.authorize.net/gateway/transact.dll</textarea>
                    </div>
                </div>
            </div>  

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Payment Gateway (Testing):</label>
                        <div class="text-info">URL pointing to third party payment gateway service when transactions are meant to be tested</div>
                        <textarea name="payment_auth_test_url" class="form-control" rows="2">https://test.authorize.net/gateway/transact.dll</textarea>
                    </div>
                </div>
            </div>  

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Payment Gateway XL Key:</label>
                        <div class="text-info">Please be very careful with this information</div>
                        <input type="text" name="payment_auth_key_x_l" class="form-control" value="839K8uarKj3r">
                    </div>
                </div>
            </div>  

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Payment Gateway XT Key:</label>
                        <div class="text-info">Please be very careful with this information</div>
                        <input type="text" name="payment_auth_key_x_t" class="form-control" value="48c79Gc2Uh2gT28B">
                    </div>
                </div>
            </div>  

            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Gateway Payment Test Mode:</label>
                        <div class="checkbox switch">
                            <input type="checkbox" name="payment_auth_test" checked="" value="1">
                            <span class="cs-place">
                                <span class="cs-handler"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>  


            <div class="col-xs-12">
                <div class="row">
                    <div class="form-group">
                        <label>Take site offline:</label>
                        <div class="checkbox switch">
                            <input type="checkbox" name="working_on_site" value="1">
                            <span class="cs-place">
                                <span class="cs-handler"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div -->  
            <div class="form-group">
                <button type="submit" class="btn btn-green btn-lg" value="Guardar" (click)="setSettings();">Update</button>
            </div>                  
        </div>
    </div>
</section>