/node_modules
/public/storage
/public/hot
/nbproject
/storage/*.key

/.idea
Homestead.json
Homestead.yaml
.env
/config/database.php
/public/.htaccess
/vendor
/FrontEnd/node_modules
public/css/mail/movePeopleReservation.css
app/Http/Helper/au1.php
app/Http/Helper/au2.php
