<div class="text-center header-div">
    <div class="container col-lg-12" style="margin: 30px">
        <div class="col-sm-3">
            <a class="btn btn-info" (click)="showDriverList()">Driver Sheet</a>
        </div>
        <div class="col-sm-3 form-inline">
            <a class="btn btn-info" (click)="showAddReservationModal()">Add Reservation</a>
        </div>
        <div class="col-sm-3 form-inline">
            <a class="btn" (click)="showSelectedModal()" [class.disabled]="!selectedReservations || !selectedReservations.length" [class.btn-default]="!selectedReservations || !selectedReservations.length" [class.btn-success]="selectedReservations && selectedReservations.length">Selected Reservations</a>
        </div>
        <div class="col-sm-3">
            <ss-multiselect-dropdown class="text-left" [options]="fieldOptions"
                [texts]="fieldTexts" [settings]="fieldSettings" [(ngModel)]="showField" (ngModelChange)="onShowFieldChange($event)"></ss-multiselect-dropdown>
        </div>
    </div>
</div>
<div class="panel panel-default" *ngIf="outbound_time">
    <div>
        <h4>
            <span class="label label-success">
                Bus from {{ outbound_time.stop_area }} on {{ headerLeave.date }}
                at: {{outbound_time.time}}. Stop Total: 
                <span class="badge">{{outbound_time.reservation_cnt}}</span>
            </span>
            <span class="label label-info" *ngIf="headerReturn.date != ''">
                Returning from {{ headerReturn.city }} on {{ headerReturn.date }} at {{returning_time.time}}.
            </span>
        </h4>
    </div>
    <div style="overflow-x:scroll">
        <table *ngIf="reservations_from_time.length && reservations_from_time[outbound_time.id]" class="table table-striped table-bordered" [mfData]="reservations_from_time[outbound_time.id]" #mf="mfDataTable" [mfRowsOnPage]="10000" (mfSelectedEntities)="onSelectedReservations($event, outbound_time.id)">
            <thead>
                <tr>
                    <th><mfRowSelectorHead></mfRowSelectorHead></th>
                    <th><mfDefaultSorter by="First Name">First Name</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="Last Name">Last Name</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="Phone">Phone</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="Email">Email</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="Seats">Seats</mfDefaultSorter></th>
                    <th *ngFor="let field of showField">
                        <mfDefaultSorter by="{{fieldOptions[field - 1].name}}">{{fieldOptions[field - 1].name}}</mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mf.data; let ndx = index">
                    <td><mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector></td>
                    <td><a (click)="editReservation(item);">{{item['First Name']}}</a></td>
                    <td><a (click)="editReservation(item);">{{item['Last Name']}}</a></td>
                    <td>{{item['Phone']}}</td>
                    <td>{{item['Email']}}</td>
                    <td>{{item['Seats']}}</td>
                    <td *ngFor="let field of showField">
                        <ng-template [ngIf]='fieldOptions[field - 1].name !== "Authorize net Link"'>
                            {{item[fieldOptions[field - 1].name]}}
                        </ng-template>
                        <ng-template [ngIf]='fieldOptions[field - 1].name === "Authorize net Link"'>
                            <a href="{{authorize_net_url + item[fieldOptions[field - 1].name]}}" target="_blank">
                                {{item[fieldOptions[field - 1].name]}}
                            </a>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel" *ngIf="outbound_bus" style="margin-bottom: 50px;">
    <div *ngFor="let time of outbound_bus.times">
        <ng-template [ngIf]="time.id != outbound_time.id">
            <div>
                <h4><span class="label label-info">
                    This bus also picks up from {{ time.stop_area }} at: {{time.time}}. Stop Total: 
                    <span class="badge">{{time.reservation_cnt}}</span>
                </span></h4>
            </div>
            <div style="overflow-x:scroll">
                <table *ngIf="reservations_from_time.length && reservations_from_time[time.id]" class="table table-striped table-bordered" [mfData]="reservations_from_time[time.id]" #mf="mfDataTable" [mfRowsOnPage]="10000" (mfSelectedEntities)="onSelectedReservations($event, time.id)">
                    <thead>
                        <tr>
                            <th><mfRowSelectorHead></mfRowSelectorHead></th>
                            <th><mfDefaultSorter by="First Name">First Name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="Last Name">Last Name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="Phone">Phone</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="Email">Email</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="Seats">Seats</mfDefaultSorter></th>
                            <th *ngFor="let field of showField">
                                <mfDefaultSorter by="{{fieldOptions[field - 1].name}}">{{fieldOptions[field - 1].name}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data; let ndx = index">
                            <td><mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector></td>
                            <td><a (click)="editReservation(item);">{{item['First Name']}}</a></td>
                            <td><a (click)="editReservation(item);">{{item['Last Name']}}</a></td>
                            <td>{{item['Phone']}}</td>
                            <td>{{item['Email']}}</td>
                            <td>{{item['Seats']}}</td>
                            <td *ngFor="let field of showField">
                                <ng-template [ngIf]='fieldOptions[field - 1].name !== "Authorize net Link"'>
                                    {{item[fieldOptions[field - 1].name]}}
                                </ng-template>
                                <ng-template [ngIf]='fieldOptions[field - 1].name === "Authorize net Link"'>
                                    <a href="{{authorize_net_url + item[fieldOptions[field - 1].name]}}" target="_blank">
                                        {{item[fieldOptions[field - 1].name]}}
                                    </a>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
</div>

<!-- Reservation Modal -->
<div bsModal #reservationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content col-xs-12">
            <div class="modal-header" style="border-bottom: none">
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideReservationModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="myReservation" class="modal-body">
                    <div>
                        <div class="form-group col-xs-6" display="inline-block">
                            <label for="reservation_first_name">First Name</label>
                            <input type="name" class="form-control" id="reservation_first_name" [(ngModel)]="myReservation['First Name']">
                        </div>
                        <div class="form-group col-xs-6" display="inline-block">
                            <label for="reservation_last_name">Last Name</label>
                            <input type="name" class="form-control" id="reservation_last_name" [(ngModel)]="myReservation['Last Name']">
                        </div>
                    </div>
                    <div>
                        <div class="form-group col-xs-6" display="inline-block">
                            <label for="reservation_phone">Phone</label>
                            <input type="text" class="form-control" id="reservation_phone" [(ngModel)]="myReservation['Phone']">
                        </div>
                        <div class="form-group col-xs-6" display="inline-block">
                            <label for="reservation_email">Email</label>
                            <input type="email" class="form-control" id="reservation_email" [(ngModel)]="myReservation['Email']">
                        </div>
                    </div>
                    <div>
                        <div class="form-group col-xs-4" display="inline-block">
                            <label for="reservation_seats">Seats</label>
                            <input type="number" min="0" class="form-control" id="reservation_seats" [(ngModel)]="myReservation['Seats']" (ngModelChange)="onSeatsChange($event)">
                        </div>
                        <div class="form-group col-xs-4" display="inline-block">
                            <label for="reservation_payment_method">Payment Method</label>
                            <select id="reservation_payment_method" class="form-control" [(ngModel)]="myReservation['Payment Method']" (ngModelChange)="onPaymentMethodChange($event)"[disabled]="myReservation['id']">
                                <option value="Credit Card">Credit Card</option>
                                <option value="Ivy Media">Ivy Media</option>
                                <option value="Coupons/Points">Coupons/Points</option>
                                <option value="No Payment">No Payment</option>
                                <option value="Cust. Already Paid">Cust. Already Paid</option>
                                <option value="Re-Scheduled Old Trip">Re-Scheduled Old Trip</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-4" display="inline-block">
                            <label for="reservation_transaction_amount">Transaction Amount</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" id="reservation_transaction_amount" [(ngModel)]="myReservation['Transaction Amount']" [disabled]="myReservation['id']">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!myReservation['id'] && myReservation['Payment Method'] === paymentMethod[0]">
                        <div class="col-xs-12">
                            <div class="col-xs-12 form-group well">
                                <p>
                                    Price Breakdown: From <i>{{newReservation_LeavingAreaName}}</i> : <b>${{inputParams.outbound_price.toFixed(2)}}</b> per person. 
                                <ng-template [ngIf]="headerReturn.date != ''">
                                    From <i>{{newReservation_ReturningAreaName}}</i> : <b>${{inputParams.returning_price.toFixed(2)}}</b> per person. 
                                </ng-template>
                                Plus <b>${{_mainService.settings['reservation_initial_fee'].toFixed(2)}}</b> reservation fee</p>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="reservation_cc_name">CC Name: <i>if different than above</i></label>
                            <input type="text" class="form-control" id="reservation_cc_name" [(ngModel)]="myReservation['CC Name']">
                        </div>
                        <div>
                            <div class="form-group col-xs-8" display="inline-block">
                                <label for="reservation_cc_number">CC #</label>
                                <input type="text" class="form-control" id="reservation_cc_number" [(ngModel)]="myReservation['CC Number']">
                            </div>
                            <div class="form-group col-xs-4" display="inline-block">
                                <label for="reservation_cc_code">Code:</label>
                                <input type="text" class="form-control" id="reservation_cc_code" [(ngModel)]="myReservation['CC Code']">
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-xs-6" display="inline-block">
                                <label for="reservation_cc_exp_month">CC Exp. Month</label>
                                <select id="reservation_cc_exp_month" class="form-control" [(ngModel)]="myReservation['CC Month']">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-6" display="inline-block">
                                <label for="reservation_cc_exp_year" style="visibility:none">CC Exp. Year</label>
                                <select id="reservation_cc_exp_year" class="form-control" [(ngModel)]="myReservation['CC Year']">
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="reservation_notes">Note</label>
                            <textarea class="form-control" rows="5" id="reservation_notes" [(ngModel)]="myReservation['Note']">
                            </textarea>
                        </div>
                        <div class="form-group pull-right" style="margin-top: 20px; margin-bottom: 20px">
                            <div *ngIf="myReservation['id']; then EditReservation else NewReservation">
                            </div>
                            <ng-template #NewReservation>
                            <button type="submit" class="btn btn-success" (click)="addReservation()">Add Reservation</button>
                            </ng-template>
                            <ng-template #EditReservation>
                            <button type="submit" class="btn btn-primary" (click)="updateReservation()">Update</button>
                            <button type="submit" class="btn btn-danger" (click)="deleteSoftReservation()">Delete</button>
                            </ng-template>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Selected Reservations Modal -->
<div bsModal #selectedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content col-xs-12">
            <div class="modal-header" style="border-bottom: none">
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideSelectedModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="selectedReservations && selectedReservations.length" class="modal-body">
                <div>
                    <div class="form-group col-xs-6" display="inline-block">
                        <label for="selected_mass_action">Mass Action</label>
                        <select id="selected_mass_action" class="form-control" [(ngModel)]="massAction">
                            <option value="Delete">Delete</option>
                            <option value="Note">Note</option>
                            <option value="Re-Email">Re-Email</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6" style="margin-top: 23px">
                        <button type="submit" class="btn col-xs-8 pull-right" (click)="doMassAction()" [class.btn-success]="massAction != 'Delete'" [class.btn-danger]="massAction == 'Delete'" [ngSwitch]="massAction">
                            <ng-container *ngSwitchCase="'Delete'">
                                Delete
                            </ng-container>
                            <ng-container *ngSwitchCase="'Note'">
                                Add Note
                            </ng-container>
                            <ng-container *ngSwitchCase="'Re-Email'">
                                Send Mail
                            </ng-container>
                        </button>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <label for="reservation_mass_text" [ngSwitch]="massAction">
                        <ng-container *ngSwitchCase="'Note'">Note</ng-container>
                        <ng-container *ngSwitchCase="'Re-Email'">Email</ng-container>
                    </label>
                    <textarea *ngIf="massAction != 'Delete'" class="form-control" rows="5" id="reservation_mass_text" [(ngModel)]="massText">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Progress Dialog -->
<div id="progressDlg" class="modal fade in" role="basic" style="padding-right: 17px;z-index:9999999999999;" >
    <div class="modal-backdrop fade in" style="height: 100%;opacity:0.28;background-color:rgb(253, 129, 163) !important;">
    </div>
    <div class="modal-dialog" style="width:45px;height:100%;margin:auto;">
    <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true" style="font-size: 44px;top: 50%;position: absolute;color: rgb(253, 129, 163);"></i>
    </div>
</div>

<simple-notifications [options]="notifyOptions"></simple-notifications>
