<nav class="main-header-nav"> 
    <a href="#" class="logo" style="color: white;">
            <h1 class="fl logo"><img src="./assets/img/tripperbus_logo.png" width="120" height="45"></h1>
    </a>
    <ul class="fl menu-right">
            <li>
                <a href="/reserve" class="">Reserve</a>
            </li>
            <li>
                <a href="/locations" class="">Locations</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/offers" class="">Offers in the city</a>
            </li>
            <li class="more-menu">
                <a class="more">More</a>
            </li>
            <li class="mobile-only">
                <a href="/edit-ticket">Edit my ticket</a>
            </li>
            <li class="customer-login-btn mobile-only">
                <a href="/login">Return Customer Log In</a>
            </li>
    </ul>
</nav>