nav.main-header-nav ul.menu-right li {
    text-transform: uppercase;
    display: inline-block;
    padding: 33px 0px;
}

nav.main-header-nav ul.menu-right li a {
    font-family: "ProximaNova-Semibold";
    font-size: 13px;
    line-height: 15px;
    font-weight: normal;
    padding: 0 0 0 21px;
    color: white;
}

nav.main-header-nav ul.menu-right {
    padding: 1px 5px;
    float: right;
}

.fl {
    float: left;
}

nav.main-header-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    z-index: 999;
    font-size: .8em;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    margin-left: 10%;
    border-bottom: 1px solid white;
    width: 80%;
}
