
<section class="content-header admin-users-content-header-custom">
    <h1>
        <i class="fa fa-user"></i> Users
    </h1>
    <ol class="breadcrumb admin-users-breadcrumb-custom">
        <li><a routerLink="/admin/main"><i class="fa fa-dashboard"></i> Main</a></li>
        <li class="active">Users</li>
    </ol>
</section>

<section class="panel admin-main-panel admin-users-main-panel-custom">
    <header class="panel-heading">
        <h3 class="box-title">
            <span class="fa fa-list-alt"></span> Users
            <a class="btn btn-xs btn-primary pull-right" (click)="showAddUserModal()">
                <span class="fa fa-plus"></span> Add User
            </a>
        </h3>
    </header>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Full Name</th>
                    <th>Created</th>
                    <th width="200">&nbsp;</th>
                </tr>
            </thead>
            <tbody class="table" *ngIf="users && users.length">
                <tr *ngFor="let user of users;">
                    <td>{{user['id']}}</td>
                    <td><a (click)="showEditUserModal(user)">{{user['name']}}</a></td>
                    <td>{{user['email']}}</td>
                    <td>{{user['password']}}</td>
                    <td>{{user['full_name']}}</td>
                    <td><span class="label label-success">{{user['created_at']}}</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<!-- User Modal -->
<div bsModal #userModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content col-xs-12">
            <div class="modal-header" style="border-bottom: none">
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideUserModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group col-xs-6" display="inline-block">
                        <label for="user_name">Name</label>
                        <input type="name" class="form-control" id="user_name" [(ngModel)]="user['name']" required>
                    </div>
                    <div class="form-group col-xs-6" display="inline-block">
                        <label for="user_email">Email</label>
                        <input type="email" class="form-control" id="user_email" [(ngModel)]="user['email']" required>
                    </div>
                    <div class="form-group col-xs-6" display="inline-block">
                        <label for="user_password">Password</label>
                        <input type="password" class="form-control" id="user_password" [(ngModel)]="user['password']" required>
                    </div>
                    <div class="form-group col-xs-6" display="inline-block">
                        <label for="user_password_confirmation">Password Confirmation</label>
                        <input type="password" class="form-control" id="user_password_confirmation" [(ngModel)]="confirmPassword" required>
                    </div>
                    <div class="form-group col-xs-12" display="inline-block">
                        <label for="user_fullname">Full Name</label>
                        <input type="name" class="form-control" id="user_fullname" [(ngModel)]="user['full_name']" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group pull-right" style="margin-top: 20px; margin-bottom: 20px">
                        <div *ngIf="user['id']; then EditUser else NewUser">
                        </div>
                        <ng-template #NewUser>
                        <button type="submit" class="btn btn-success" (click)="addUser()">Add User</button>
                        </ng-template>
                        <ng-template #EditUser>
                        <button type="submit" class="btn btn-primary" (click)="updateUser()">Update</button>
                        <button type="submit" class="btn btn-danger" (click)="deleteUser()">Delete</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<simple-notifications [options]="notifyOptions"></simple-notifications>
