
<section class="content-header admin-areas-content-header-custom">
    <h1>
        <i class="fa fa-crop"></i> Areas
    </h1>
    <ol class="breadcrumb admin-areas-breadcrumb-custom">
        <li><a routerLink="/admin/main"><i class="fa fa-dashboard"></i> Main</a></li>
        <li class="active">Areas</li>
    </ol>
</section>

<section class="panel admin-main-panel admin-areas-main-panel-custom">
    <header class="panel-heading">
        <h3 class="box-title">
            <span class="fa fa-list-alt"></span> Areas
            <a href="http://tripperbus.infinixsoft.com/admin/areas/create" class="btn btn-xs btn-primary pull-right"><span class="fa fa-plus"></span> Area</a>
        </h3>
    </header>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Area Name</th>
                    <th width="200">&nbsp;</th>
                </tr>
            </thead>
            <tbody class="table">
                <tr>
                    <td><span class="userName">2</span></td>
                    <td><span class="userName">Washington DC</span></td>
                    <td>
                        <div class="btn-group">
                            <a href="http://tripperbus.infinixsoft.com/admin/areas/2/edit" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span> Edit</a>  
                            <a href="#" class="btn btn-xs btn-danger btn-select" data-toggle="modal" data-target="#delete-modal" data-id="2"><span class="fa fa-trash"></span> Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>