
<section class="content-header admin-schedule-gennew-content-header-custom">
    <h1>
        <i class="fa fa-clock-o"></i> Schedule Times
    </h1>
    <ol class="breadcrumb admin-schedule-gennew-breadcrumb-custom">
        <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Main</a></li>
        <li><a routerLink="/admin/schedules"><i class="fa fa-clock-o"></i> Schedule Times</a></li>
        <li class="active" id="li_header_detail">{{ selected_dow }} {{ selected_schedule_type }} {{ selected_date_from }} from {{ selected_stop }}</li>
    </ol>
</section>

<section class="panel admin-main-panel admin-schedule-gennew-main-panel-custom">
    <header class="panel-heading">
        <h3 class="box-title">
            <span class="fa fa-pencil-square">
                Every {{ selected_dow }} {{ selected_schedule_type }} {{ selected_date_from }} from {{ selected_stop }}
            </span>
            <a href="javascript:void(0)" class="btn btn-xs btn-primary pull-right open-modal" (click)="showModal()"><span class="fa fa-plus"></span> Schedule</a>
        </h3>
    </header>
    <div class="panel-body">
        <div *ngFor = "let group of groups; let i = index;">
            <app-admin-schedule-edit-bus [group]="group" [leaving_stop_shorts]="stops" [group_idx]="i"></app-admin-schedule-edit-bus>
        </div>
        
        <div class="row">
            <div class="col-sm-12 text-center form-group">
                <button class="btn btn-success btn-lg" (click)="onSaveAll()"><span class="fa fa-check"></span> Save All </button>
            </div>
        </div>
    </div>
</section>

