

<section class="panel login-panel-custom">
    <header class="panel-heading login-panel-heading-custom">
        <h3 class="login-panel-heading-h3">Login to TripperBus</h3>
    </header>
    <div class="panel-body">
        <div class="form-inline">
            
            <div class="alert alert-block alert-danger" [style.display] = "alert_visible">
                <strong>{{errorMsg}}</strong> Please try again.
            </div>
            
            <div class="login-form-firstline">
                <div class="form-group login-form-group-custom">
                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                    <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter email">
                </div>
                <div class="form-group login-form-group-custom" style="float: right;">
                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
                </div>
            </div>

            <div class="login-form-secondline">
                <!--div class="checkbox" style="float: left;">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                    <div style="padding: 5px 0px;">
                        <a class="" href="http://tripperbus.infinixsoft.com/password/reset" style="color: #2bbbc1; text-decoration: underline;">Forgot Your Password?</a>
                        <a class="" href="http://tripperbus.infinixsoft.com/register" style="color: #2bbbc1; text-decoration: underline;">Register</a>
                    </div>
                </div-->
                <button (click)="onPostLogin()" class="btn btn-success login-btn" style="float: right;">LOG ME IN</button>
            </div>
        </div>
        
    </div>
</section>