.alert-enabled {
    background-color: #00a65a !important;
}

.alert-disabled {
    background-color: orange !important;
}

h3, h5 {
    color: white !important;
}

.max-capacity-div {
    margin-top: 10px;
}

.destination-div {
    margin-top: 10px;
}

.input-max-capacity {
    text-align: center;
    width: 50px;
}

.col-sm-4-custom {
    padding-right: 0px;
}