<div class="text-center header-div">
    <label (click)="onClickRegularMode()">
        <img class="img-responsive" src="./assets/common/img/reg_mode_r.gif" width="192" height="45" alt="Regular Mode">
    </label>

    <label style="vertical-align: top;" (click)="onClickBusEditMode()">
        <img class="img-responsive" src="./assets/common/img/bus_edit_mode_r.gif" width="192" height="45" alt="Bus Prices Mode">
    </label>

    <label style="vertical-align: top;">
        <img class="img-responsive" src="./assets/common/img/move_people_mode_b.gif" width="192" height="59" alt="Move People Mode">
    </label>
</div>

<div class="row row-content">
    <div class="col-sm-6" style="text-align: center;" [class.wide]="headerReturn.date == ''">
        <div class="header-outbound">
            <h3><b>Leaving from {{ headerLeave.city }} on </b></h3>
            <p><b>{{ headerLeave.date}} at:</b></p>
        </div>
        <div class="content-outbound">
            <div *ngFor="let bus of leaving_buses; let i = index;">
                <app-admin-main-bus-move [bus]="bus" [selected_group_idx]="i" [times]="leaving_times"></app-admin-main-bus-move>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="text-align: center;" *ngIf="headerReturn.date != ''">
        <div class="header-return">
            <h3><b>Returning from {{ headerReturn.city }} on </b></h3>
            <p><b>{{ headerReturn.date }} at: </b></p>
        </div>
        <div class="content-outbound">
            <div *ngFor="let bus of returning_buses; let i = index;">
                <app-admin-main-bus-move [bus]="bus" [selected_group_idx]="i" [times]="returning_times"></app-admin-main-bus-move>
            </div>
        </div>
    </div>
</div>
<div class="row text-center" style="margin-bottom: 50px;">
    <div class="alert alert-danger " *ngIf="errorMessage != ''" style="margin: 20px 0px;">
        <button aria-label="Close" class="close" type="button" (click)="errorMessage = ''">
            <span aria-hidden="true">×</span>
        </button>
        <p>{{errorMessage}}</p>
    </div>
    <div class="alert alert-success " *ngIf="successMessage != ''" style="margin: 20px 0px;">
        <button aria-label="Close" class="close" type="button" (click)="successMessage = ''">
            <span aria-hidden="true">×</span>
        </button>
        <p>{{successMessage}}</p>
    </div>
    <button type="button" class="btn btn-primary" (click)="movePeople();">Save Changes</button>
</div>

<simple-notifications [options]="notifyOptions"></simple-notifications>