<header class="header admin-header">
    <a routerLink="/admin/main" class="logo" style="color: white;">
        TripperBus
    </a>
    <nav class="navbar navbar-static-top " role="navigation">
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle admin-header-account" data-toggle="dropdown" style="">
                        <img src="./assets/common/img/dummy.png" class="admin-header-user-img" alt="User Image"/>
                        <span>Administrator<i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                        <li>
                            <a routerLink='/logout'><i class="fa fa-ban fa-fw pull-right"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>