:not(.fa) {
  font-family: verdana, arial, helvetica !important;
}

.admin-main-panel {
    border-top: 3px solid #3c8dbc;
}

.admin-main-content-header {
    background: transparent;
    position: relative;
    padding: 15px 15px 0 15px;
}

.panel-heading {
    text-transform: initial;
}

.admin-main-form-control-custom {
    width: 100% !important;
    margin-bottom: 15px;
}