/* hero */

// Custom Background Images



body {
	&.DC {
		.hero {
			@include background-image( url('img/hero/2-newyork.jpg'));
		}
	}
	&.newyork {
		.hero {
			@include background-image( url('img/hero/1.jpg'));
		}
	}
	&.anywhere {
		.hero {
			@include background-image( url('img/hero/new-york.jpg'));
		}
	}
}	


.home .hero {
	position: relative;
	display: flex;
	align-items:center;
	background: #000;
	@include background-image(url('img/hero/new-york.jpg'));
	background-size: cover !important;
	background-position: center 30%;
	padding:12em 0;
	@include tablet-portrait-and-below {
		height: auto;
		background-size: auto 528px;
    	background-position: top center;
    	padding:3em 0 0;
	}
	h1 {
		font-size: 2.2em;
		text-align: center;
		width: 100%;
		z-index: 100;
		color: #fff;
		font-weight: 100;
		line-height: 1;
		margin-bottom: 0;
		padding: 0;
		@include mobile-only {
			font-size: 1.5em;
			line-height: 1.3em;
			width: 80%;
			margin: auto;
		}
	}
	h2 {
		color: #fff;
		font-size: 1.2em;
		text-align: center;
		font-weight: 100;
		@include mobile-only {
			width: 92%;
			font-size: 1.3em;
			margin: auto;
		}
	}
	#tickets {
		
		&.tickets {
			.top {
				height:auto;
				width:100%;
				 span {
					color:white;
				}
				[type="radio"]:checked + span {
					color:$blue;
				}
			}
			.form-bottom {
				margin: 0;
			}
			.ticket-info.hp {
				padding:0 0 1em;
			}
			#reschedule-form {
				.ticket-info {
					margin:0;
					
				}
			}
			.form-bottom {
				border:0;
			}
		}
		.reschedule {
			color:white;
		}
		.coupon {
			input[type="submit"] {
				width:100%;
				margin-right: 0;
			}
			label {
				color:white;

			}
		}
		.input__label--ruri {
			color:white;
		}
		.input__field--ruri {
			background: white;
		}
		.forms-hldr {
			padding:{
				top:0;
			}
		}
		max-width: 1000px; // add usual padding
		margin: 0 auto;
		position: relative;
		height:auto;
		background: -moz-linear-gradient(top, rgba(60,179,185,0.8) 0%, rgba(60,179,185,0.8) 1%, rgba(66,154,219,0.8) 100%);
		background: -webkit-linear-gradient(top, rgba(60,179,185,0.8) 0%,rgba(60,179,185,0.8) 1%,rgba(66,154,219,0.8) 100%); 
		background: linear-gradient(to bottom, rgba(60,179,185,0.8) 0%,rgba(60,179,185,0.8) 1%,rgba(66,154,219,0.8) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a3cb3b9', endColorstr='#8a429adb',GradientType=0 );
		padding:2em;
		@include tablet-portrait-and-below {
			height: auto;
			overflow: hidden;
			padding-bottom: 2em;
		}
	}
}


.interior .hero {
	background: #000;
	@include background-image(url('img/hero/1.jpg'));
	.forms-hldr {
		margin-top:-15px;
	}
	&.inner {
		height: 400px;
		margin-bottom: 23px;
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
		&.small {
			height: 88px;
			margin-bottom: 0;
		}
		&.one {
			#tickets .forms-hldr {
				
				display: block;
				@include tablet-portrait-and-below {
					box-shadow: 0 0 0 #fff;
				}
			}
			#tickets .top {
				display: block;
			}
		}
		@include tablet-portrait-and-below {
			height: 328px;
			&.one {
				margin-bottom: 650px;
			}	 
		}
		#tickets .forms-hldr {
			background: $white;
			// box-shadow: 0 -20px 30px rgba(0,0,0,.08);
		}
	}
	@include tablet-portrait-and-below {
		height: auto;
		margin-bottom: 9em;
		background-size: auto 528px;
    	background-position: top center;
	}
	h1 {
		font-size: 2.7em;
		text-align: center;
		width: 100%;
		z-index: 100;
		color: #fff;
		text-shadow: 0 1px 0px rgba(0,0,0,.7);
		font-weight: 100;
		padding-top: 4em;
		@include mobile-only {
			font-size: 2.3em;
			line-height: 1.3em;
			width: 80%;
			margin: auto;
		}
		span {
			border-bottom: 3px solid $teal;
			font-weight: 600;
			@include mobile-only {
				border-bottom: 2px solid $teal;
			}
		}
	}
	h2 {
		color: #fff;
		font-size: 1.2em;
		padding-top: 35px;
		text-align: center;
		text-shadow: 0 1px 0px rgba(0,0,0,.7);
		@include mobile-only {
			width: 92%;
			font-size: 1.3em;
			margin: auto;
		}
	}
	#tickets {
		max-width: 1000px; // add usual padding
		margin: 0 auto;
		height: 309px;
		background: #fff;
		position: relative;
		top: 22px;
		
		@include tablet-portrait-and-below {
			height: auto;
			overflow: hidden;
			padding-bottom: 2em;
		}
	}
}