<footer>
    <div class="container">
        <div class="footer_in">
            <div class="footer_cnt clearfix">
                <div class="links link_travel">
                    <h4>Travel Information</h4>
                    <ul>
                        <li><a href="/locations">Travel Information</a></li>
                        <li><a href="/parking-locations">Parking Locations</a></li>
                        <li><a href="/pickup-locations">Pickup Locations</a></li>
                        <li><a href="/travel-maps">Travel Maps</a></li>
                        <li><a href="/hotels">Hotels</a></li>
                    </ul>
                </div>
                <div class="links link_abt">
                    <h4>More About Tripper Bus</h4>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/our-advantage">Our Advantage</a></li>
                        <li><a href="/buses">Tripper Buses</a></li>
                        <li><a href="/resources">Free Resources </a></li>
                        <li><a href="/press">Media Center </a></li>
                    </ul>
                </div>
                <div class="links link_service">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="/faq">FAQs</a></li>
                        <li><a href="/guarantee">100% Guarantee</a></li>
                        <li><a href="/terms-of-service">Terms of Service</a></li>
                        <li><a href="/privacy-policy">Privacy Policy </a></li>
                    </ul>
                </div>
                <div class="links link_cantact">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><span>Phone:</span> <a href="tel:18778263874">1-877-826-3874</a></li>
                        <li><span>Email:</span> <a href="mailto:info@tripperbus.com">info@tripperbus.com</a></li>
                    </ul>
                    <ul class="socialicons">
                        <li>
                            <a href="https://twitter.com/tripperbus" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/TripperBus" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+TripperbusNYCtoDC" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/tripperbus" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <div class="footer_logo">
                    <a href="#">
                        <img class="main-footer-logo-img" src="./assets/img/trippberbus_footer_logo.png" width="80" height="21" alt=" logo">
                    </a>
                </div>
                <p>Copyright ⓒ 2017 TripperBus.</p>
                <p class="flt_rt">All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>