.wide{
    width: 100% !important;
}

mfRowSelectorHead>label {
  display: none;
}

button.dropdown-toggle.btn {
  padding-left: 15px;
  padding-right: 15px;
}

a {
  cursor: pointer;
}

#sidebar_searchdate .datepicker__input {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    background-image: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;

    background-color: #374850 !important;
    border: 1px solid transparent!important;
    color: #b8c7ce!important;
}
