<div class="text-center header-div">
    <label >
        <img class="img-responsive" src="./assets/common/img/reg_mode_b.gif" width="192" height="59" alt="Regular Mode">
    </label>
    
    <label style="vertical-align: top;" (click)="onClickBusEditMode()">
        <img class="img-responsive" src="./assets/common/img/bus_edit_mode_r.gif" width="192" height="45" alt="Bus Prices Mode">
    </label>
    
    <label style="vertical-align: top;" (click)="onClickMovePeopleMode()">
        <img class="img-responsive" src="./assets/common/img/move_people_mode_r.gif" width="192" height="45" alt="Move People Mode">
    </label>
</div>

<!--<div class="row row-content" >
    <div class="col-sm-6" style="text-align: center;">
        <h3>Leaving from {{ headerLeave.city }} on </h3>
        <p>{{ headerLeave.date}} at:</p>
    </div>
    <div class="col-sm-6" style="text-align: center;">
        <h3>Returning from {{ headerReturn.city }} on </h3>
        <p>{{ headerReturn.date }} at: </p>
    </div>
</div>-->
<div class="row row-content" >
    <div class="col-sm-6" style="text-align: center;" [class.wide] = "headerReturn.date == ''">
        <div class="header-outbound">
                <h3>Leaving from {{ headerLeave.city }} on </h3>
                <p>{{ headerLeave.date}} at:</p>
        </div>
        <div class="content-outbound">
                <div *ngFor="let bus of leaving_buses; let i = index;"> 
                    <app-admin-main-bus [bus] = "bus" [selected_group_idx] = "i" (onTimeSelected) = "outboundTimeSelected($event);"></app-admin-main-bus>
                </div>
        </div>
    </div>
    <div class="col-sm-6" style="text-align: center;" *ngIf = "headerReturn.date != ''">
        <div class="header-return">
                <h3>Returning from {{ headerReturn.city }} on </h3>
                <p>{{ headerReturn.date }} at: </p>
        </div>
        <div class="content-outbound">
                <div *ngFor="let bus of returning_buses; let i = index;"> 
                    <app-admin-main-bus [bus] = "bus" [selected_group_idx] = "i" (onTimeSelected) = "returningTimeSelected($event);" [busType] = "1"></app-admin-main-bus>
                </div>
        </div>
    </div>
</div>
<div class="row text-center" style="margin-bottom: 50px;" *ngIf = "outbound_timeId != 0">
    <div class="alert alert-success " style="margin: 20px 0px;">
        <button aria-label="Close" class="close" type="button" (click) = "successMessage = ''">
            <!--<span aria-hidden="true">×</span>-->
        </button>
        <p>
            Outbound Choice: ${{outbound_price.toFixed(2)}} . <span *ngIf = "returning_timeId != 0">Return Choice: ${{returning_price.toFixed(2)}}.</span>
        </p>
        <p>Total Per Seat: ${{(+outbound_price + returning_price).toFixed(2)}}</p>
    </div>
    <button type="button" class="btn btn-primary" (click) = "gotoNextStep();">Next Step</button>
</div>
